<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Create an Account</title>
</head>
<body>
  <h1>This is the account page</h1>

  <form action="#">
      <label for="email">E-Mail:</label>
      <input name="emailadd" id="emailadd" type="text" placeholder="">
      <label for="pass">Password:</label>
      <input name="password" id="password" type="text" placeholder="">
      <button>Create Account</button>
  </form>

</body>
</html>
