<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R'Delivery</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <h1>This is the home page</h1>
  <div class="nav fixed">
    <h5 class="nav-logo">R'Delivery</h5>      
    <a class="nav-item right" href="/create-account">Create an Account</a>      
    <a class="nav-item right" href="/login">Login</a>
    <a class="nav-item right" href="/FAQ">FAQ</a>
  </div>
  <div class="landing">
    <img class="full-screen fixed" src="assets/landing.jpeg" alt="">
  </div>
  <div class="first-cols">
    <div class="col"></div>
    <div class="col"></div>
  </div>
</body>
</html>
