<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>R'Delivery</title>
  <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
  <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div class="nav fixed">
    <h5 class="nav-logo">R'Delivery</h5>      
    <a class="nav-item right" href="/create-account">Create an Account</a>      
    <a class="nav-item right" href="/login">Login</a>
    <a class="nav-item right" href="/FAQ">FAQ</a>
  </div>
  <div class="landing">
    <div class="tag">Delivering your <br>on-campus needs</div>      
    <img class="full-screen" src="assets/landing.jpeg" alt="">
  </div>
  <div class="row">
    <div class="col">
      <img class="center" src="assets/Education.svg" alt="">
      <h3>By Students</h3>
      <p>We're a group of 4 students attending UC Riverside dedicated to providing a fast and easy delivery service, We only hope that you have as much fun using this as we did developing it at HackUCI 2018.</p>
    </div>
    <div class="col">
      <img class="center" src="assets/Apple.svg" alt="">
      <h3>For Students</h3>
      <p>Need a scantron? Some coffee to keep you going? How about some burgers from The Habit for your org meeting? We got you covered.</p>
    </div>
  </div>
</body>
</html>
