<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>R'Delivery</title>
   <link rel="stylesheet" href="https://unpkg.com/wingcss"/>
   <link rel="stylesheet" href="css/home.css">
</head>
<body>
  <div class="nav">
    <h5 class="nav-logo">R'Delivery</h5>      
    <a class="nav-item" href="/create-account">Create an Account</a>      
    <a class="nav-item" href="/login">Login</a>
    <a class="nav-item" href="/FAQ">FAQ</a>
  </div>
  </body>
</html>
