<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>R'Delivery</title>
</head>
<body>
  <h1>This is the home page</h1>
  <a href="/create-account">Create an Account</a>     
  <a href="/login">Log In</a>
  <a href="/FAQ">FAQ</a>
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 43010885a141f3e05229737e4020e1d82ccf3d27
=======
>>>>>>> 43010885a141f3e05229737e4020e1d82ccf3d27
=======
>>>>>>> Douglas
</body>
</html>
